.pagination{
      text-align: center;
      margin-bottom: 30px;
     
}
.pagination button{
      margin-right: 10px;
      margin-top: 10px;
       
}

.pagination button.selects {
    background-color: orange;
    padding: 4px 8px 4px 8px;
    
    
}